# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.opensdf
*.sdf
*.suo
*.user
OBOBOB*.userprefs
*.log
*.vs/
*.xcodeproj
*.xcworkspace
*.xcuserdata/

# Compiled source
*.dll
*.exe
*.app

# Mac system files
.DS_Store

# Git LFS (para archivos grandes)
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text

/BaseBackEnd/BaseBackEnd/obj
/BaseBackEnd/Avalant.Application/bin
/BaseBackEnd/Avalant.Application/obj
/BaseBackEnd/BaseBackEnd/bin
/BaseBackEnd/Models/bin
/BaseBackEnd/Models/obj
/BaseBackEnd/Repository/bin
/BaseBackEnd/Repository/obj
/BaseBackEnd/Avalant.Data/obj
/BaseBackEnd/Avalant.Domain/bin
/BaseBackEnd/Avalant.Domain/obj
/BaseBackEnd/AvalantAPI/bin
/BaseBackEnd/AvalantAPI/obj
BaseBackEnd/AvalantAPI/appsettings.Development.json
